@using SM.Shared
@inject NavigationManager Nav
@code {
    [Parameter] public CustomerDto Customer { get; set; } = new CustomerDto();
    [Parameter] public EventCallback<CustomerDto> OnValidSubmit { get; set; }

    private void Cancel()
    {
        // Navigate to the customers list page
        Nav.NavigateTo("/customers");
    }

}


<EditForm Model="Customer" OnValidSubmit="() => OnValidSubmit.InvokeAsync(Customer)" class="edit-form">
    <h2 class="form-title">New Customer</h2>

    <DataAnnotationsValidator />
    <ValidationSummary class="validation-summary" />

    <div class="form-field">
        <label class="form-label" for="name">Name</label>
        <InputText id="name" @bind-Value="Customer.Name" class="form-control" placeholder="Jane Doe" />
        <ValidationMessage For="@(() => Customer.Name)" class="validation-message" />
    </div>


    <div class="form-field">
        <label class="form-label" for="name">Code</label>
        <InputText id="name" @bind-Value="Customer.Code" class="form-control" placeholder="CUST001" />
        <ValidationMessage For="@(() => Customer.Code)" class="validation-message" />
    </div>

    <div class="form-field">
        <label class="form-label" for="email">Email</label>
        <InputText id="email" @bind-Value="Customer.PrimaryEmail" class="form-control"
            placeholder="jane.doe@example.com" />
        <ValidationMessage For="@(() => Customer.PrimaryEmail)" class="validation-message" />
    </div>

    <div class="form-field">
        <label class="form-label" for="phone">Phone</label>
        <InputText id="phone" @bind-Value="Customer.PrimaryPhone" class="form-control" placeholder="+61 4xx xxx xxx" />
        <ValidationMessage For="@(() => Customer.PrimaryPhone)" class="validation-message" />
    </div>

    <div class="flex-row mt-2">
        <button type="submit" class="btn">Save</button>
        <button type="button" class="btn btn-outline" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>