@page "/equipments/create"
@using SM.Shared
@using SM.WebPwa.Pages.Equipments.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Create Substation</h3>

<EquipmentForm Substation="newSubstation" OnValidSubmit="AddEquipments" />

@code {
    private TransformerDto newEquipments = new TransformerDto();
   
    private async Task AddEquipments(TransformerDto equipment)
    {
        // POST to your API
        var response = await Http.PostAsJsonAsync("http://localhost:5124/equipments", newEquipments);

        if (response.IsSuccessStatusCode)
        {
            // Optionally read back the created customer
            var created = await response.Content.ReadFromJsonAsync<TransformerDto>();
            if (created is not null)
            {
               NavigationManager.NavigateTo("/equipments");
            }
        }
        else
        {
            // Handle error (log, show message, etc.)
        }
    }
}