@page "/equipments/edit/{id:guid}"
@using SM.Shared
@using SM.WebPwa.Pages.Equipments.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Edit Equipments</h3>

<EquipmentForm Equipment="equipment" OnValidSubmit="UpdateEquipment" />

@code {
    [Parameter] public Guid id { get; set; }
    private TransformerDto? equipment = new();


    protected override async Task OnInitializedAsync()
    {
        equipment = await Http.GetFromJsonAsync<TransformerDto>($"http://localhost:5124/transformers/{id}");
    }

    private async Task UpdateEquipment((TransformerDto Equipment, AssetDto Asset) args)
    {
        var (equipment, asset) = args;
        equipment.Asset = asset;
        var response = await Http.PutAsJsonAsync($"http://localhost:5124/transformers/{id}", equipment);
        NavigationManager.NavigateTo("/equipments");
    }

}