@page "/equipments/edit/{id:guid}"
@using SM.Shared
@using SM.WebPwa.Pages.Equipments.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Edit Equipments</h3>

<EquipmentForm Equipments="equipments" OnValidSubmit="HandleValidSubmit" />

@code {
    [Parameter] public Guid id { get; set; }
    private TransformerDto equipments = new();  

    protected override async Task OnInitializedAsync()
    {
        equipments = await Http.GetFromJsonAsync<TransformerDto>($"http://localhost:5124/transformers/{id}");
    }

    async Task HandleValidSubmit(TransformerDto updatedSubstation)
    {
        var response = await Http.PutAsJsonAsync($"http://localhost:5124/transformers/{id}", updatedSubstation);
        NavigationManager.NavigateTo("/equipments");
    }

}