@page "/equipments"
@using SM.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager


<PageTitle>Equipments</PageTitle>

<h1>Equipments</h1>
<!-- Form to add a new customer -->
<div class="mb-3">
    <button @onclick="GoToCreate">Add New Equipments</button>
</div>
@if (equipments == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Substation</th>
                <th>Customer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var equipment in equipments)
            {
                <tr>
                    <td>@equipment.Name</td>
                    <td>@equipment?.Asset?.AssetType?.Name</td>
                    <td>@equipment?.Asset?.Substation?.Name</td>
                    <td></td>
                    <td>
                        <button @onclick="() => GoToEdit(equipment.Id)">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TransformerDto> equipments = new List<TransformerDto>();
    protected override async Task OnInitializedAsync()
    {
        equipments = await Http.GetFromJsonAsync<List<TransformerDto>>("http://localhost:5124/transformers") ?? [];
    }

    void GoToCreate() => NavigationManager.NavigateTo("/equipments/create");
    void GoToEdit(Guid id) => NavigationManager.NavigateTo($"/equipments/edit/{id}");
}