@page "/customers/edit/{id:guid}"
@using SM.Shared
@using SM.WebPwa.Pages.Customers.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Edit Customer</h3>

<CustomerForm Customer="customer" OnValidSubmit="HandleValidSubmit" />

@code {
    [Parameter] public Guid id { get; set; }
    private CustomerDto? customer = new();

    protected override async Task OnInitializedAsync()
    {
        customer = await Http.GetFromJsonAsync<CustomerDto>($"http://localhost:5124/customers/{id}");
    }

    async Task HandleValidSubmit(CustomerDto updatedCustomer)
    {
        var response = await Http.PutAsJsonAsync($"http://localhost:5124/customers/{id}", updatedCustomer);
        NavigationManager.NavigateTo("/customers");
    }

}